#header_bar {
    background: #ffffff;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 10020;
}
#cadre {

    opacity: 0.900;
    background-color: #3e3e3e;
    /*position: absolute;*/
    z-index: 2;
    color:white;
}
#footerperso{

    background-color: #4c4c4c;
    min-height:100px;
    color: white;
}
.copyright{
    font-size: 11px;
}
/* *** CSS MENU *** */
/* *** CSS Connexion *** */
.navbar-inverse.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a
{
    color: #333;
}
.navbar .navbar-default .navbar-custom .navbar-fixed-top{
    color: #222222;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle
{
    background-color: #333;
}
.dropdown-menu{
    border-radius: 10px;
    padding: 20px;
    color: #000000;
    background: #ffffff;
}
.menu {
    font-size: 18px;
}

.btn{
    margin: 10px;
}

.form > input
{
    margin: 10px;
}

#logout{
    float: right;
}
.login
{
    float:right;
}

a > .dropdown-toggle:hover{
    background: #ffffff;
}


/* *** HEADER INDEX *** */
.intro-header
{
    margin-top: -10px;
}
.site-heading > h1{
    /*color: #66CCFF;*/
}
.site-heading > h2{
    color: #0b4a07;
}
/* *** PAGE INDEX *** */

.post-title{
    color: #195ea7;
}
.post-subtitle{
    color: #0b4a07;
}


/* *** PAGE ENTRAINEMENT *** */
.panel{margin-top: 50px;}

/* *** PAGE ARMES *** */
.separation{
    margin-top: 50px;
    height: 2px;
    border: 0;
    width:700px;
    background-color: #0f0f0f;
}